{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Välkommen till vår bröllopssida</li>
{% endblock %}

{% block content %}
<div class="col-sm">
  <img src="{% static 'img/AnnikaoEmilsmall.jpg' %}" class="rounded mx-auto d-block" alt="{ Välkommen }">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
          <p>Varmt välkommen till vigseln mellan

                             Emil Thornberg
                                       och
                            Annika Johansson
                            </p><p>

Vigseln inleds lördagen den 20 juni 2020 kl. 14:30 i <a href="https://g.page/norgeshusgbg?share" class="text-decoration-none" target="_blank" >Norska sjömanskyrkan i Göteborg</a>. 
</p><p>
Därefter serveras
mingel i trädgården och middag i den angränsande 
festlokalen. 
Efter middagen bjuds det på dans och
dryck. 
</p><p>
Vår toastmaster Malin Johansson tar gärna emot anmälningar för tal, sånger, lekar och spex under middagen. Du hittar hennes kontaktuppgifter nedan. Vi uppskattar verkligen om ni vill bidra till stämmningen under kvällen. 
</p><p>
Barn är välkomna på vigseln men under kvällen vill vi bara vara vuxna, ammade barn är givetvis välkomna hela dagen.
</p><p>
O.S.A. senast den 30 april genom att anmäla er nedan. Om ni inte kan komma får ni gärna använda våra kontaktuppgifter nedan för att meddela oss det.
</p><p>
Om du önskar ge oss en present finner du vår önskelista nedan, vi hoppas att den är till hjälp.
</p><p>
Det finns få parkeringsplatser vid kyrkan så lämna gärna bilen hemma. Närmaste hållplats är Ullevi Södra.
</p><p>
Det finns möjlighet att hyra sängar i Norges hus vandrarhem som ligger i källaren till festlokalen. Sängarna kostar 250kr per natt och person, kontakta oss om du vill boka. De finns tillgängliga under fredag - söndag.
</p><p>
Vi kommer bo på .... och äta frukost där kl ... och då får ni gärna vara med. 
</p><p>
Hör gärna av er om ni har några andra funderingar! Vi ser fram emot att dela vår dag med er!
</p><p>
Kram Annika och Emil
        </p>
        </div>
    </div>  
</div>
<div class="mb-2">
  

  {% if user.is_authenticated %}
    <a href="https://forms.gle/KdTxHeH8KfKPx7Vg9" class="btn btn-primary" role="button" target="_blank" >Anmälan</a>
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary" role="button" >Logga in för att kunna anmäla dig</a>

  {% endif %}

    <a href="{% url 'shop' %}" class="btn btn-primary" role="button">Vår önskelista</a>
    </div>  

    <div class="card mb-2 border-dark" style="width:35rem">
        <div class="card-header text-white bg-dark py-2 px-3">Kontaktuppgifter</div>
        <div class="card-body p-3">
            <div class="row">

              {% if user.is_authenticated %}
              <div class="col-10">
                  <p>Annika: annikajson@gmail.com 0737-265436 </p>
                  <p>Emil: 518thornberg@gmail.com 0703-887637 </p>
                  <p>Malin (Toastmaster): malinjojansson0623@gmail.com </p>
              </div>
              {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary" role="button" >Logga in för att se våra kontaktuppgifter</a>

  {% endif %}
              </div>
              </div>


{% endblock %}