{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Välkommen till vår bröllopssida</li>
{% endblock %}

{% block content %}
<div class="col-sm">
  <img src="{% static 'img/AnnikaoEmilsmall.jpg' %}" class="rounded mx-auto d-block" alt="{ Välkommen }">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
          <p class="text-center">Varmt välkommen till vigseln mellan

                             Emil Thornberg
                                       och
                            Annika Johansson
                            </p><p>

Vigseln inleds lördagen den 20 juni 2020 kl. 15:00 i <a href="https://g.page/norgeshusgbg?share" class="text-decoration-none" target="_blank" >Norska sjömanskyrkan i Göteborg</a>. 
</p><p>
Därefter serveras
mingel i trädgården och middag i den angränsande 
festlokalen. 
Efter middagen bjuds det på dans och
dryck. 
</p><p>
Vår toastmaster Malin Johansson tar gärna emot anmälningar för tal, sånger, lekar och spex under middagen. Du hittar hennes kontaktuppgifter nedan. Vi uppskattar verkligen om ni vill bidra till stämmningen under kvällen. 
</p><p>
Barn är välkomna på vigseln men under kvällen vill vi bara vara vuxna, ammade barn är givetvis välkomna hela dagen.
</p><p>
O.S.A. senast den 30 april genom att anmäla er nedan. Om ni inte kan komma får ni gärna använda våra kontaktuppgifter nedan för att meddela oss det.
</p><p>
Om du önskar ge oss en present finner du vår önskelista nedan, vi hoppas att den är till hjälp.
</p><p>
Klädkoden är högtidsdräkt eller mörk kostym. Detta för att ge dem av våra gäster som har landskapsdräkter, kaftaner, mässdräkt eller annat roligt som de sällan får användning för möjligheten att göra det och samtidigt låta andra gäster bära mörk kostym eller en hel- eller knälång klänning i festligt men inte promt balmässigt tyg.
</p><p>
Det finns inga reserverade parkeringsplatser vid kyrkan så lämna gärna bilen hemma eller på hotellet. Närmaste hållplats är Ullevi Södra.
</p><p>
Det finns möjlighet att hyra sängar i Norges hus vandrarhem som ligger i källaren till festlokalen. Sängarna kostar 225kr per natt och person, kontakta oss om du vill boka. De finns tillgängliga under fredag - söndag.
</p><p>
Vi kommer bo på <a href="https://www.scandichotels.se/hotell/sverige/goteborg/scandic-opalen?cmpid=ppc_BH2nd&gclid=CjwKCAiAjrXxBRAPEiwAiM3DQnkYyKZFjT83LJBm_AW4b25kxbk5nGo0kD0O-EvuvrUu4te1oQGTDhoCQVgQAvD_BwE&s_kwcid=AL!7589!3!386234538854!e!!g!!scandic%20opalen&_ga=2.198240427.52484068.1580034040-949310906.1580034040&_gac=1.14928196.1580034040.CjwKCAiAjrXxBRAPEiwAiM3DQnkYyKZFjT83LJBm_AW4b25kxbk5nGo0kD0O-EvuvrUu4te1oQGTDhoCQVgQAvD_BwE" class="text-decoration-none" target="_blank" >Scandic Opalen</a>, för er som behöver hotell rekomenderar vi det hotellet då det ligger väldigt nära Norges hus. 
</p><p>
Vår fina bröllopslogo är gjord av vår favoritkonstnär Josefine Flaig, för att se mer av hennes alster eller beställa din egen design gå till <a href="http://www.josefineflaig.com" class="text-decoration-none" target="_blank" >josefineflaig.com</a>.
</p><p class="text-center">
Hör gärna av er om ni har några andra funderingar! Vi ser fram emot att dela vår dag med er!
</p><p class="text-center">
Kram Annika och Emil
        </p>
        </div>
    </div>  
</div>

<div class="mb-3">  

  {% if user.is_authenticated %}
    <a href="https://forms.gle/KdTxHeH8KfKPx7Vg9" class="btn btn-primary" role="button" target="_blank" >Anmälan</a>
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary" role="button" >Logga in för att kunna anmäla dig</a>

  {% endif %}

    <a href="{% url 'shop' %}" class="btn btn-primary" role="button">Vår önskelista</a>
    </div>  

    <a href="{% url 'help' %}" class="btn btn-primary" role="button">Hjälp till inför bröllopet</a>
    </div> 

    <div class="card mb-2 border-dark" style="width:40rem">
        <div class="card-header text-white bg-dark py-2 px-3">Kontaktuppgifter</div>
        <div class="card-body p-3">
            <div class="row">

              {% if user.is_authenticated %}
              <div class="col-10">
                  <p>Annika: annikajson@gmail.com 0737-265436 </p>
                  <p>Emil: 518thornberg@gmail.com 0703-887637 </p>
                  <p>Malin (Toastmaster): malinjojansson0623@gmail.com </p>
                  <p>Eva (Presentpengar): eva.kr.johansson@gmail.com 0703-031903 </p>
              </div>
              {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary" role="button" >Logga in för att se våra kontaktuppgifter</a>

  {% endif %}
              </div>
              </div>


{% endblock %}