{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Hjalmars dopsida</li>
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-10">
              <img src="{% static 'img/hav.jpg' %}" class="rounded mx-auto d-block" alt="{ Välkommen }">
          <p class="text-center">Varmt välkommna till Hjalmar Thornbergs dop! 
                            </p><p class="text-center">
Hjalmar döps den 20de april kl 12.30 i Brämaregårdens kyrka.
Efter dopet serveras fika i församlingshemmet.
</p><p class="text-center">
Anmälan sker <a href="https://forms.gle/4Ec4F5HxqkBHQxSr6" class="text-decoration-none" target="_blank">via detta formulär</a> senast den 1a april.  
</p><p class="text-center">
Hitta till kyrkan via kartan nedan och ta gärna spårvagn eller buss till närmaste hållplats<a href="https://maps.app.goo.gl/cSNZTyRfJNM4Thda6" class="text-decoration-none" target="_blank"> Vågmästareplatsen</a>. Det finns tyvärr ingen parkering precis vid kyrkan men kan gå att hitta på <a href="https://maps.app.goo.gl/yN5NQ48Ve4Dg7cTr5" class="text-decoration-none" target="_blank">Vågmästareplatsen</a>,<a href="https://maps.app.goo.gl/nxgYnL4Q5w7WCaq9A" class="text-decoration-none" target="_blank"> Phus Kvilletorget</a> samt gatuparkering i området. 
</p><p class="text-center">
Om du funderar över vad du vill ge Hjalmar i doppresent så har han lagt upp sin
<a href="{% url 'onskelista' %}">önskelista här. </a>

</p><p class="text-center">  

Vi ser mycket fram emot att dela glädjen med er!
</p><p class="text-center">

</p><p class="text-center">
Med vänliga hälsningar,
Annika, Emil, Alfred och Hjalmar
</p><p>
        </div>
    </div>  
</div>

<div style="text-align: center;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d490.3331657704447!2d11.943718219152172!3d57.718541415917635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff4a87587685f%3A0xb873c52756c66b81!2sF%C3%B6rsamlingsexpeditionen%20i%20Br%C3%A4mareg%C3%A5rden%20F%C3%B6rsamling!5e0!3m2!1sen!2sse!4v1707896278149!5m2!1sen!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}